<template>
    <div style="width: 100%;height: 500px;background-color: white">
        <div class="cell">slb</div>
        <div class="cell" @click="getLong()">点击我获取常量:{{text}}</div>
        <div class="cell" @click="goToNew()">点击我跳转到详情页</div>


    </div>

</template>

<script>
    export default {
        name: "slb",
        data(){
            return{
                text:""
            }
        },
        methods: {
            goToNew () {
                this.$router.push('/elastic/page')
            },
            getLong(){
                console.log('getLong',window.GWL_CONFIG.sys_Number)
                this.text = window.GWL_CONFIG.sys_Number
            }

        }
    }
</script>

<style scoped>

</style>
