<template>

    <div style="width: 100%;height: 100%;background-color: lightgrey" @click="goToDetail()">
        <div class="cell">工单</div>
        <div class="cell">工单</div>
        <div class="cell">工单</div>
        <div class="cell">工单</div>
        <div class="cell">工单</div>
        <div class="cell">工单</div>
        <div class="cell">工单</div>
        <div class="cell">工单</div>
        <div class="cell">工单</div>
        <div class="cell">工单</div>
        <div class="cell">工单</div>
    </div>

</template>

<script>
    export default {
        name: "order",
        methods:{
            goToDetail(){
                this.$router.push('/order/orderDetail')

            }
        }
    }
</script>

<style scoped>
    .cell{
        width: 100%;
        background-color: white;
        height: 120px;
        margin-bottom: 15px;
        cursor: pointer
    }

</style>
