<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="./favicon.ico" />
    <title>工作啦-高校管理平台</title>

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

  </head>
  <body>

    <div id="app"></div>

    <!-- configs -->
    <script src="/public/config.js"></script>

    <!-- dlls -->
    <% for (let i of htmlWebpackPlugin.options.dlls) { %>
    <script src="<%= i %>"></script>
    <% } %>

    <!--<script src="/static/dll/core.f5dcb2c61d39e134ede4.dll.js"></script>-->
    <!--<script src="/static/dll/puzzle.a5a0ea60f8faab282355.dll.js"></script>-->



  </body>
</html>
