<template>
  <div>
    <img src="./bg.png" alt class="home-bg">

  </div>

</template>

<script>
export default {
  created() {
    if (GWL_CONFIG.pageHome && GWL_CONFIG.pageHome != "")
      this.$router.replace({ name: GWL_CONFIG.pageHome });
  }
};
</script>

<style>
.home-bg {
  width: 340px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.el-header, .el-footer {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  line-height: 160px;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
</style>
