<template>
  <div style="width: 100%;height: 100%;background-color: #eef2ff;flex: 1;position: absolute">

    <div style="width: 400px;height: 400px;margin: auto;background-color: white;margin-top: 100px">

      <el-button type="success" @click="login()">点击模拟登录进入首页</el-button>

    </div>

  </div>
</template>

<script>
export default {
  data(){},
  methods:{
    login(){
      this.$router.push('/home')

    }
  }
};
</script>

<style>
</style>
