<template>
  <div class="page">数据库修改后的{{ moment().format("MMMM Do YYYY, h:mm:ss a") }}

    <div style="width: 100%;height: 200px;margin-top: 20px">{{title}}</div>
    <div style="width: 100%;height: 200px;margin-top: 20px" @click="test()">点击我</div>

  </div>

</template>

<script>
import moment from "moment";

export default {
  data() {
    return {
      moment: moment,
      title:'还没有收到通知'
    };
  },
  created() {
    let that = this;
    this.$root.eventHub.$on('eventHub', (data)=>{
      that.title = that.title+ data
      that.test()
      console.log('收到通知啦数据库页面',data,that.title,this)

    })
    this.$root.eventHub.$on('navChange', (data)=>{
      that.title =  that.title+'，navChage被点击了'
    })

  },
  methods:{
    test(){
      console.log('test',this.title )

      this.title = '点击我的响应'

    }
  }
};
</script>
